<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <description>Pratiquer un tutoriel</description>
    <display-name>Simulateur de crédit</display-name>
    <servlet>
        <servlet-name>Simulateur Servlet</servlet-name>
        <servlet-class>nouni.tuto.simulateurcredit.web.SimultateurCtrServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Simulateur Servlet</servlet-name>
        <url-pattern>/calculer.do</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
